---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - appo11y.grafana.com
  resources:
  - instrumenters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - appo11y.grafana.com
  resources:
  - instrumenters/finalizers
  verbs:
  - update
- apiGroups:
  - appo11y.grafana.com
  resources:
  - instrumenters/status
  verbs:
  - get
  - patch
  - update
